:root{
  --ligtest-color:#f3f3f3;
  --ligt-color: #ececec;
  --medium-color: #dbdbdb;
  --radius: 8px;
  font-family: sans-serif;
  font-size: 16px;

}
table {
  min-width: 600px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-collapse: collapse;
 


}


td {
  padding: 1em 0;
  background-color: var(--ligtest-color);
  text-align: center;
  vertical-align: center;
}

thead th{
  color: var(--ligtest-color);
}

thead th:not(th:first-child){
  width:17%;
}

thead th:first-child{
  border-top-left-radius: var(--radius);
  background-color: #7987ac;
}

thead th:nth-child(2){
  background-color: #4f628d;
}


thead th:nth-child(3){
  background-color: #2f4173;
}

thead th:nth-child(4){
  background-color: #162954;
}

thead th:first-child::first-letter, tbody tr td:first-child:first-letter, tbody tr :nth-child(n+5):first-letter, tbody tr  :nth-child(n+2):first-letter  {
  text-transform: uppercase;
}

tfoot  td :nth-child(odd)  {
text-transform: uppercase;
}

thead th:last-child{
  border-top-right-radius: var(--radius);
  background-color: #07153a;
}

tfoot td:first-child{
  border-bottom-left-radius: var(--radius);
}

tfoot td:last-child{
  border-bottom-left-radius: var(--radius);
}

tbody td:first-child{
  padding-left: 1em;
  text-align:left;

}
 tbody tr:nth-child(odd) td:nth-child(odd), tfoot  tr:nth-child(odd) td:nth-child(odd) {
  background-color: var(--medium-color);
}

tbody tr:nth-child(odd) td:nth-child(even), tbody tr:nth-child(even) td:nth-child(odd), tfoot  tr:nth-child(odd) td:nth-child(even) {
  border-color: var(--ligt-color) ;
}

thead p:nth-child(2){
  margin-bottom: 5px;
  font-size:2em;
}

thead p:nth-child(2)+p{
  margin-top: 0px;
}